/*
  Hide overflowed text and add three dots instead of
*
* Example of the markup
  <div>
    <p>
      Hello very very long text.
    </p>
  </div>
*
*/
div {
  width: 100px;
}

p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*
* Change styles for the autofeel webkit function
*/

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

// to change BG color use this
input {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px green;
}